# Gradle
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# IDE
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/
.idea/shelf/
.idea/dataSources/
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/dbnavigator.xml
.idea/gradle.xml
.idea/libraries
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/.name
.idea/modules/
*.iws
*.iml
*.ipr
out/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Spring Boot
target/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Temporary files
*.tmp
*.bak
*.swp
*~.nib
local.properties
